<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

     <!-- 2.将类型转换器进行注册到springmvc环境中 -->
    <mvc:annotation-driven conversion-service="myDateConverter" validator="validator"/>

	<!-- 注解扫描器 -->
	<context:component-scan base-package="com.neuedu.controller"/>

    
    <!-- 配置校验器bean -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
    	<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
    </bean>

    <!-- 1. 定义类型转换器的bean -->
    <bean id="myDateConverter" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    
    	<property name="converters">
    		<list>
    			<!-- 指定自定义类型转换器 -->
    			<bean class="com.neuedu.util.MyDateConverter"/>
    		</list>
    	
    	</property>
    </bean>
    
   
</beans>